.topper-left button {
    margin-left: 0px;
    margin-right: 0px;
    left: 0;   
}
  
.topper-left a {
    margin-left: 20px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}