<!DOCTYPE html>
<html dir="rtl">
  <head>
    <link href='http://serve.fontsproject.com/css?family=Alef:400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <app-topper [page]="page" (pageChange)="page=$event"></app-topper>
    <div class="wrapper">
      <div class="right-sidebar">
        <p></p>
      </div>
      <div class="main-div">
        <div class="thing-box">
          <p class="quote">"תפקידו של עושה הפאזל קשה להגדרה. ברוב המקרים – במיוחד כשמדובר בפאזלים מקרטון – הפאזלים מיוצרים במכונה ואופן חיתוך החלקים אינו פרי הכרח כלשהו: מכבש גזירה הבנוי לפי תוכנית אחידה חותך את פיסות הקרטון באופן זהה כל הזמן; חובב הפאזל האמיתי מואס בשכאלה, לא רק משום שהם עשויים קרטון במקום עץ, וגם לא על שום שעל קופסת האריזה מופיע דגם של הצורה השלמה, אלא משום שאופן החיתוך הזה מבטל את עצם ייחודיותו של הפאזל."</p>
          <p class="quote">(ז'ורז' פרק, "החיים הוראות שימוש")</p>
          <br>
          <br>
          <br>
          <h4 class="content">genewriter הוא אתר שמוקדש לכל אוהבי הכתיבה באשר הם.</h4>
          <h4 class="content">האתר מיועד לכל מי שאוהב לאתגר את עצמו במטלות כתיבה שונות ומגוונות, לכל מי שרוצה לתרגל את כישורי הכתיבה שלו, או סתם למי שרוצה לשחק ולהשתעשע עם הדמיון והיצירתיות שלו.</h4>
          <h4 class="content">כל מה שצריך לעשות זה להיכנס, ללחוץ על הכפתור – ולכתוב את המטלה שהוגרלה.</h4>
          <br>      
          <p class="headline">* * *</p>
          <br>
          <h4 class="content">מאז שהתחלתי את לימודיי כסטודנט בחוג למדעי-המחשב באוניברסיטת תל-אביב, ניסיתי לחשוב על רעיונות שישלבו בין תכנות ובין אחת האהבות הגדולות שלי, אם לא הגדולה שבהן – כתיבה.</h4>
          <h4 class="content">לאורך השנים נתקלתי באינספור טיפים ועצות איך להיות כותב טוב יותר. לרבים מהם היה מכנה-משותף מובהק: לכתוב לא כפי שאתה רגיל לכתוב בדרך-כלל. זה יכול להיות על נושא שאתה לא רגיל לכתוב עליו, בסגנון שאתה לא רגיל לכתוב בו, וכן הלאה וכן הלאה. זה לא תמיד דבר קל. אבל הוא חשוב מעין כמוהו.</h4>
          <h4 class="content">אז למה, חשבתי לעצמי יום אחד, לא לייצר פשוט אתר שעושה את זה?</h4>
          <br>
          <h4 class="content">בעת כתיבת המחולל, ניסיתי, ועודני מנסה, לווסת בין שני דברים: מצד אחד, לדאוג שהקומבינציות של המטלות שמוגרלות באופן אקראי תהיינה הגיוניות, מגוונות ומעניינות. ומצד שני, להשתמש ביכולות המופלאות של תכנות ואוטומציה, ולהעניק כמה שיותר חופש ומרחב לקוד עצמו לשחק עם הקומבינציות.</h4>
          <h4 class="content">העדפתי להימנע מלהעמיס על חלקי הקוד התניות רבות מדי, אלא דווקא להעניק לו את החופש "להפתיע".</h4>
          <h4 class="content">אחרי הכל, בכל סיפור טוב יש מימד מפתיע ולא צפוי. במידה מסוימת, זה מה שהופך אותם לכאלה...</h4>
          <br>      
          <p class="headline">* * *</p>
          <br>
          <h4 class="content">אם יש לכם הערות, רעיונות, הצעות (או טיפים ועצות!), אשמח לשמוע:</h4>
          <h4 class="content">genewriterapp@gmail.com</h4>
          <br>
          <br>
          <br>
          <p class="copy">&#169; כל הזכויות שמורות לגיל ליברובסקי</p>
          <br>
          <br>
        </div>
      </div>
      <div class="left-sidebar">
        <p></p>
      </div>
    </div>
  </body>
</html>